.table-calls-history-client {
  td {
    min-width: 150px;
    &.status {
      .icon {
        &.close {
          color: #f00;
        }
        &.check {
          color: #008000;
        }
      }
    }
  }
}
